@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'variables';

body {
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $grey3;
  outline: 1px solid $grey;
}

.app {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.wrap {
  width: 500px;
}

.select {
  z-index: 2;
  width: 100%;
  position: relative;
  margin: 20px 0;

  .arrow {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
  }
  .arrow span {
    top: 0.5rem;
    position: absolute;
    width: 0.6rem;
    height: 1px;
    background-color: $grey3;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .arrow span:first-of-type {
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow span:last-of-type {
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.open {
    z-index: 5;
    .select__dropdown {
      display: block;
    }
    .select__input {
      border-bottom: none;
    }
    .select__drop {
      display: block;
    }
    .arrow span:first-of-type {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .arrow span:last-of-type {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__drop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: -1;
  }
  &__input {
    border: 1px solid $grey;
    height: $height;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  &__dropdown {
    display: none;
    position: absolute;
    border: 1px solid $grey;
    border-radius: 5px;
    top: $height;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    padding: 0.62rem 1rem;
    border-bottom: 1px solid $grey;
    background-color: $white;

    &.selected {
      background-color: $grey2;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $grey2;
      transition: .15s background-color;
    }
  }
}