@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'variables';

body {
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999797;
  outline: 1px solid $grey;
}

.app {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.wrap {
  width: 500px;
}

.select {
  width: 100%;
  position: relative;

  &.open {
    .select__dropdown {
      display: block;
    }
    .select__input {
      border-bottom: none;
    }
  }

  &__input {
    border: 1px solid $grey;
    height: $height;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  &__dropdown {
    display: none;
    position: absolute;
    border: 1px solid $grey;
    border-radius: 5px;
    top: $height;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    padding: 1rem;
    border-bottom: 1px solid $grey;

    &:hover {
      background-color: $grey2;
      transition: .15s background-color;
    }
  }
}